useDynLib(dynclusts)
importFrom(Rcpp, evalCpp)
import(progress)
importFrom(ConjugateDP, rSg)
importFrom(Rfast, transpose)
importFrom(Rfast, colsums)
importFrom(Rfast, rowsums)
importFrom(BayesLogit, rpg.devroye)
importFrom(BayesLogit, rpg.sp)
importFrom(mgcv, trichol)
importFrom(stats, arima.sim)
importFrom(stats, dnorm)
importFrom(stats, rbeta)
importFrom(stats, rbinom)
importFrom(stats, rexp)
importFrom(stats, rgamma)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(stats, toeplitz)
importFrom(sf, st_bbox)
importFrom(sf, st_point)
importFrom(sf, st_sfc)
importFrom(sf, st_crs)
importFrom(sf, st_intersects)
importFrom(sf, st_as_sf)
export(dynclusts_sim)
export(dynclust)
export(clustering)
export(coclust_probs)
export(coclust_point)
export(lagged_ARI)
